<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet">

    <!-- font-awesome css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .cardhovers {
            transition: transform 0.2s;
        }

        .cardhovers:hover {
            transform: translateX(5px);
        }

        .alerts {
            transition: transform 0.2s;
        }

        .alerts:hover {
            transform: translateY(3px);
        }
    </style>
</head>

<body style="margin-top: 10px; background-color: #344c9f; font-family: 'Roboto Slab', serif;">
    <section>
        <div class="container text-capitalize py-5">
            <div class="row gx-2 justify-content-center align-items-center" style="height: 80vh; overflow: hidden;">
                <div class="col-md-4 col-sm-12">
                    <div class="card">
                        <div class="card-header bg-light text-center mt-3">
                            <img th:src="@{/resources/img/ACE.png}" width="35%" alt="">
                        </div>
                        <div th:if="${loginError}" class="alert alert-danger" role="alert">
                            <h6>Wrong Username or Password</h6>
                        </div>
                        <div class="card-body">
                            <form th:action="@{/login}" method="post" class="my-4">
                                <div class="form-group mb-4">
                                    <input type="text" class="form-control" name="username" placeholder="User ID">
                                </div>
                                <div class="input-group mb-4">
                                    <input type="password" class="form-control" id="password" name="password"
                                        placeholder="Password">
                                    <span class="input-group-text text-muted" id="eyes"><i
                                            class="fas fa-eye-slash"></i></span>
                                </div>
                                <div class="form-check mb-4">
                                    <input type="checkbox" class="form-check-input" id="remember-me" name="remember-me">
                                    <label for="remember-me" class="form-check-label text-muted">Remember Me</label>
                                </div>

                                <div class="btn-group mb-3 d-flex justify-content-end">
                                    <button type="submit" class="btn btn-primary btn-sm">Login</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#eyes").click(function () {
                var getpasstype = $("#password").attr("type");

                if (getpasstype === "password") {
                    getpasstype = "text";
                    $(this).html("<i class='fas fa-eye'></i>");
                } else {
                    getpasstype = "password";
                    $(this).html("<i class='fas fa-eye-slash'></i>");
                }
                $('#password').attr("type", getpasstype);
            });
        });
    </script>
</body>

</html>